<div class="gradient-blue-rose">
    <div class="container">
        <div class="row">
            <div class="d-flex flex-row-reverse px-3 py-5">
                <div class="postion-relative">
                    <div class="card bg-glass">
                        <div class="card-body px-4 py-5 px-md-5">
                            <form>
                                <p class="h4 text-center">Login</p>
                                <div class="row mt-4">
                                    <div class="col-md-12 mb-4">
                                        <label class="form-label" for="userEmail">Email</label>
                                        <input id="userEmail" type="text" class="form-control" placeholder="john@xyz.com" />
                                    </div>
                                    <div class="col-md-12">
                                        <label class="form-label" for="userPassword">Password</label>
                                        <input id="userPassword" type="password" class="form-control" placeholder="password"/>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="card-footer">
                            <p>No account? <a class="no-decor">Register Now</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>