<div class="gradient-blue-rose">
    <div class="container">
        <div class="row">
            <div class="d-flex flex-row-reverse px-3 py-5">
                <div class="postion-relative">
                    <div class="card bg-glass">
                        <div class="card-body px-4 py-5 px-md-5">
                            <form>
                                <p class="h4 text-center">Register</p>
                                <div class="row mt-3">
                                    <div class="col-md-12 mb-2">
                                        <label class="form-label" for="userName">Name</label>
                                        <input id="userName" type="text" class="form-control" placeholder="john" />
                                    </div>
                                    <div class="col-md-12 mb-2">
                                        <label class="form-label" for="userEmail">Email</label>
                                        <input id="userEmail" type="text" class="form-control" placeholder="john@xyz.com" />
                                    </div>
                                    <div class="col-md-12 mb-2">
                                        <label class="form-label" for="userPassword">Password</label>
                                        <input id="userPassword" type="password" class="form-control" placeholder="password"/>
                                    </div>
                                    <div class="col-md-12 mb-3">
                                        <label class="form-label" for="userConPassword">Confirm Password</label>
                                        <input id="userConPassword" type="password" class="form-control" placeholder="confirm password"/>
                                    </div>
                                </div>
                                <input type="submit" id="btnRegister" class="btn btn-primary text-center" value="Register"/>
                            </form>
                        </div>
                        <div class="card-footer">
                            <p>Have an account? <a class="no-decor" href="#">Login Now</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>